*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    color: gray;
}
.Container{
    background-color: red;
    height: 80px;
}
.top-container{
    margin: 0 130px;
}
.Container h3{
    color: white;
    padding: 40px 0px 0px 0px;
}
#white{
    padding: 6px;
    width: 150px;
    height: 60px;
}
.top-one{
    float: left;
}
.top-two{
    text-align: right;
}