*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}
.flex-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Food{
    width: 945px;
    height: 650px;
    padding: 3px 0px 0px 0px;
}
#sign{
    margin: 10px 2px;
}
#Logo{
    margin: 0 45px;
    width: 220px;
    height: 120px;
}
.right-container{
   padding: 0px 50px;
}
#forgot{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#forgot-text{
    margin: 8px 5px;
    font-weight: 400;
}
.form-container{
    padding:5px;
}
#submit{
    padding: 10px;
    width: 270px;
    margin: 5px;
}
