*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    color: gray;
}
.Container{
    background-color: red;
    height: 80px;
}
.top-container{
    margin: 0 30px;
}
.Container h3{
    color: white;
    padding: 40px 0px 0px 0px;
}
#logo-white{
    padding: 6px 0px 0px 0px;
    width: 170px;
    height: 70px;
}
.top-one{
     float: left; 
}
.top-two{
    text-align: right;
}
.main-container{
    display: flex;
}
#biriyani{
    color:white;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.indian-biriyani{
    color:white;
    margin-left: 100px;
}
.first-sub1{
    background-color: rgb(63, 17, 17);
    width:1000px;
    height: 120px;
}
.first-sub2{
    margin: 25px 100px 0px 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(233, 215, 215);
}
/* .add{
    float:right;
    width: 80px;
    background-color:white;
    height: 25px;
    border: 1px solid gray;
} */
.sub2-padd{
    padding: 10px 0px 10px 0px;
}
.second-container{
    background-color: rgb(235, 235, 225);
    width:500px;
    height: 1060px;
}
.calculation{
    width: 20px;
    margin: 5px 0px 20px 0px;
    background-color: white;
    border: 1px solid grey;
}
.second-sub1{
    border-bottom: 1px solid grey;
    margin: 0px 30px;
}
.second-sub2{
    margin: 30px 30px;
}
#submit{
    background-color: rgb(187, 21, 21);
    border: none;
    color:white;
    margin:10px 0px;
    width: 305px;
    height: 45px;
}
.total{
    font-weight: 200;
    padding: 3px;
}.total2{
    font-weight: bolder;
    padding: 3px;
    color:black;
}
.sub2{
   float: right;
}
.sub-total{
    float: right; 
    color:black;
}
.cost{
    float: right; 
    font-weight: 300;
}
.prod-name{
    padding:0px 0px 0px 0px; 
    margin-top: 20px;
}
#cart-title{
    font-weight: bolder; 
    color: black; 
    padding: 30px 0px 25px 0px;
    margin-left: 25px;
}
.item-title{
    font-weight: bolder; 
    color: black;
}
#item-order{
    font-weight: bolder; 
    color: black;
    padding-bottom: 0px;
    margin: 20px 0px 0px 100px;

}