*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    color: gray;
 }
 /*
.Container{
    background-color: red;
    height: 80px;
}
.top-container{
    margin: 0 130px;
}
.Container h3{
    color: white;
    padding: 40px 0px 0px 0px;
}
#white{
    padding: 10px;
    width: 150px;
    height: 60px;
}
.top-one{
    float: left;
}
.top-two{
    text-align: right;
} */
 .main-Container{
    margin: 35px 100px 0px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*.restas{
    width: 300px;
    height: 200px;
    margin-left: 0;
}
.restaurant-01{
    padding: 70px 0px 0px 0px;
    border-bottom: 1px solid grey
}
.distance{
    padding: 5px 0px 10px 0px;
} */
footer{
    height: 100px;
}
/* .feedback{
    float: right;
    margin-top: 5px;
} */